html{
    font-size: 62.5%;
}

body{
    font-family: 'Aileron';
    color: white;
    background-color: black;
    font-size: 1.4rem;

    position: relative;
    /* max-width: 192.0rem; */
    margin: 0 auto;

    height: 100vh;

    display: grid;
    grid-template-columns: minmax(15.4rem,0.25fr) 17% auto;
    grid-template-rows: 11.8rem auto;
    
}

*{
    box-sizing: border-box;
    /* border: 0.1rem solid #a2a1bf; */
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, p, figure{
    padding: 0;
    margin: 0;
}

/*--------------------------
    GENERAL STYLE
---------------------------*/

.button{
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

/*--------------------------
    SIDEBAR
---------------------------*/

.sidebar{
    grid-row: 1/3;

    background-color: #060b17;
}

.sidebar__button{
    margin: 3.2rem;
    margin-left:auto;
}

.button_theme_menu{
    width: 3.4rem;
    height: 3.4rem;

    background-image: url(../images/menu.png);
}

.sidebar__inner{
    margin-left:auto;
    margin-top: 17.6rem;

    width: 8rem;
}

.sidebar__link{
    position: relative;
    display: block;
    height: 5.8rem;

    margin-bottom: 1.6rem;
    
    background-position: 35% center;
    background-repeat: no-repeat;
}

.sidebar__link_notify:after{
    content: "";
    display: block;
    position: absolute;

    height: 1.4rem;
    width: 1.4rem;
    border-radius: 0.7rem;

    bottom: 1.2rem;
    right: 2.4rem;

    background-color: #f7658e;
}

.sidebar__link_theme_dashboard{
    background-image: url(../images/Dashbaord.PNG);
}

.sidebar__link_theme_profile{
    background-image: url(../images/profile.PNG);
}

.sidebar__link_theme_mail{
    background-image: url(../images/mail.PNG);
}

.sidebar__link_theme_events{
    background-image: url(../images/event.PNG);
}

.sidebar__link_theme_chat{
    background-image: url(../images/chat.PNG);
}

.sidebar__link_active{
    background-color: #191d2a;
    border-top-left-radius: 2.9rem;
    border-bottom-left-radius: 2.9rem;
}

/*--------------------------
    SUBMENU
---------------------------*/

.submenu{
    grid-row: 1/3;

    background-color: #191d2a;
}

.profile{
    text-align: center;
    border-bottom: 0.1rem solid #3e414c;
}

.profile__photo{
    margin: 0 auto;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;

    overflow: hidden;
    height: 10rem;
    width: 10rem;

    border-radius: 5rem;
}

.profile__img{
    position: relative;
    top: -50%;
    lefT: -100%;
}    

.profile__name{
    color: white;
    padding-bottom: 1rem;
}

.profile__location{
    color: #5b6173;
    padding-bottom: 2.8rem;
}

.menu{
    margin: 5rem;
}

.menu__header{
    color: white;
    font-size: 2.1rem;
}

.menu__list{
    list-style-type: none;
    padding-left: 1.2rem;
}

.menu__item{
    line-height: 4rem;
    margin: 1.6rem 0;
}

.menu__link{
    display: block;
    position: relative;

    padding-left: 1.2rem;
    
    font-size: 1.8rem;
    color: #9499ac;
}

.menu__notify{
    width: 4.5rem;
    height: 2.4rem;
    background-color: #7b4fc1;
    line-height: 2.5rem;
    border-radius: 3rem;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;

    text-align: center;
    color: white;
    font-weight: 700;
}

.menu__count{
    position: absolute;
    right: 2rem;

    text-align: left;
}

.menu__link_active{
    border-radius: 0.5rem;
    background-color: #060b17;
}

/*--------------------------
    TOP BAR
---------------------------*/

.top-bar{
    background-color: #060b17;
    box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.2); 
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(5,min-content);
    align-items: center;

}

.top-bar__logo{
    margin-left: 3.6rem;
}

.top-bar__search{
    margin-left: 10.8rem;
}

.top-bar__date-list{
    margin-left: 14.2rem;
    margin-right: 3.6rem;
}

.top-bar__button{
    margin-left: 2.8rem;
}

.search{
    width: 50rem;

    position: relative;
    border-bottom: 0.1rem solid #4a4e5b;
}

.search__input{
    background-color: transparent;
    color: white;
    font-size: 1.8rem;
}

.search__input_type_text{
    width: 100%;
    padding: 1.4rem 0;
    padding-right: 3rem;
}

.search__input_type_text::placeholder{
    color: white;
    font-weight: 700;
}

.search__input_type_submit{
    position: absolute;
    display: block;
    bottom:1rem;
    right: 0;

    width: 3rem;
    height: 3rem;

    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
}

.date-list{
    border: none;
    background-color: transparent;
    color: #3e4457;
    font-size: 1.4rem;

    width: 18.3rem;

}

.button__notify:after{
    content: "";
    display: block;
    position: absolute;

    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;

    top: 0.6rem;
    right: 0.3rem;

    background-color: #96c72c;
}

.button_size_m{
    width: 3.2rem;
    height: 3.2rem;
}

.button_theme_notify{
    background-image: url(../images/notify.png);
}

.button_theme_setting{
    background-image: url(../images/setting.png);
}


/*--------------------------
    CONTENT
---------------------------*/

.content{
    background-color: #1e2333;
    grid-row: 2/3;
    box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.2); 
    
}

.dashboard{
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,auto);

}

.dash-item_col-span-2{
    grid-column: span 2;
}

.dash-item_col-span-3{
    grid-column: span 3;
}

.dash-item_row-span-2{
    grid-row: span 2;
}

.dash-item__header{
    display: grid;
    grid-auto-flow: column;
}

.dash-item__info{
    display: grid;
    grid-auto-flow: column;
}

.dash-item__legend{
    display: grid;
    grid-auto-flow: column;
}

.mail__sender{
    display: grid;
    grid-auto-flow: column;
}


.review{
    display: grid;
    grid-auto-flow: column;
}

.review__info{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.review__message{
    grid-row: 2/3;
    grid-column: 1/3;
}




/*--------------------------
    GENERAL STYLE
---------------------------*/

.overlay{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 1%, rgba(255,255, 255,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* background-color: #ed1f24; */
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#hero{
    position: relative;
    
    background-image: url(../images/hero_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;

    padding-top: 36.0rem;
    padding-bottom: 28.0rem;
}
